<div data-region="copycourse">
    <main class="contain">
        <h3 class="title">{{# str }} copy_course, theme_cbe {{/ str }}</h3>
        <p class="description">
            {{# str }} copy_course_desc, theme_cbe {{/ str }}
        </p>
        {{{ mform }}}
    </main>
</div>

