{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template theme_cbe/modals/board_pub_delete


}}
<div data-region="modal-delete" data-cmid="{{ id }}" class="modal fade bd-deletemodule-modal bd-deletemodule-modal-lg-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModuleModalLabel-{{ id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg cbe-modal">
        <div class="modal-content">
            <header>
                <h1>{{# str }} delete_post, theme_cbe {{/ str }}</h1>
                <p>{{# str }} sure_delete, theme_cbe {{/ str }}</p>
                <p>{{# str }} sure_delete_detail, theme_cbe {{/ str }}</p>
                <p class="modal-comment">"{{{ comment }}}"</p>
            </header>
            <footer class="modal-footer">
                <button class="btn cancel" data-dismiss="modal">{{# str }} cancel, theme_cbe {{/ str }}</button>
                <button class="btn btn-primary delete" data-action="delete" >
                    {{# str }} confirm, theme_cbe {{/ str }}
                </button>
            </footer>
        </div>
    </div>
</div>