<div id="menu-apps-btn">
    <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#pix}} menu_apps2, theme_cbe {{/pix}}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
        {{# active }}
        <ul id="app-apps" class="apps">
            {{# apps.internals }}
            <li class="app {{ shortname }}">
                <a href="{{ href }}" class="app-link" {{# is_external }}target="_blank"{{/ is_external }}>
                    <div class="icon">
                        <i class="fa {{ icon }}" aria-hidden="true"></i>
                    </div>
                    <div class="text">{{ name }}</div>
                </a>
            </li>
            {{/ apps.internals }}
        </ul>
        <ul id="app-external" class="external-links">
            {{# apps.externals }}
            <li class="app {{ shortname }}">
                <a href="{{ href }}" class="app-link" {{# is_external }}target="_blank"{{/ is_external }}>
                    <div class="icon">
                        <i class="fa {{ icon }}" aria-hidden="true"></i>
                    </div>
                    <div class="text">{{ name }}</div>
                </a>
            </li>
            {{/ apps.externals }}
        </ul>
        {{/active}}
    </div>
</div>