<div id="menu-apps-btn">
    <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg id="Menú_Apps" data-name="Menú Apps" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <rect id="Rectángulo_2" data-name="Rectángulo 2" width="6" height="6" fill="#262626"/>
            <rect id="Rectángulo_1447" data-name="Rectángulo 1447" width="6" height="6" transform="translate(0 10)" fill="#262626"/>
            <rect id="Rectángulo_1450" data-name="Rectángulo 1450" width="6" height="6" transform="translate(0 20)" fill="#262626"/>
            <rect id="Rectángulo_1440" data-name="Rectángulo 1440" width="6" height="6" transform="translate(10)" fill="#262626"/>
            <rect id="Rectángulo_1446" data-name="Rectángulo 1446" width="6" height="6" transform="translate(10 10)" fill="#262626"/>
            <rect id="Rectángulo_1449" data-name="Rectángulo 1449" width="6" height="6" transform="translate(10 20)" fill="#262626"/>
            <rect id="Rectángulo_1441" data-name="Rectángulo 1441" width="6" height="6" transform="translate(20)" fill="#262626"/>
            <rect id="Rectángulo_1445" data-name="Rectángulo 1445" width="6" height="6" transform="translate(20 10)" fill="#262626"/>
            <rect id="Rectángulo_1448" data-name="Rectángulo 1448" width="6" height="6" transform="translate(20 20)" fill="#262626"/>
        </svg>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
        <ul id="app-apps" class="apps">
            {{# apps }}
            <li class="app {{ shortname }}">
                <a href="{{ href }}" class="app-link" {{# is_external }}target="_blank"{{/ is_external }}>
                    <div class="icon">
                        <i class="fa {{ icon }}" aria-hidden="true"></i>
                    </div>
                    <div class="text">{{ name }}</div>
                </a>
            </li>
            {{/ apps }}
        </ul>
        <ul id="app-external" class="external-links">
            {{# externals }}
            <li class="app {{ shortname }}">
                <a href="{{ href }}" class="app-link" {{# is_external }}target="_blank"{{/ is_external }}>
                    <div class="icon">
                        <i class="fa {{ icon }}" aria-hidden="true"></i>
                    </div>
                    <div class="text">{{ name }}</div>
                </a>
            </li>
            {{/ externals }}
        </ul>
    </div>
</div>