body[data-theme='cbe'][data-role='user'] {

  header.course {
    justify-content: center;
    .header-board {
      background-position: center;
      background-size: cover;
      height: 250px;
      color: white;
      .degraded {
        background: rgb(0,0,0);
        background: linear-gradient(180deg,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0) 100%);
        .title-box {
          padding: 24px;
          h3.category {
            font-size: 23px;
          }
          h2.coursename {
            font-size: 44px;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
        ul.teachers-box {
          position: absolute;
          bottom: 0;
          right: 0;
          list-style: none;
          display: flex;
          .picture-teacher {
            height: 70px;
            width: 70px;
            border-radius: 35px;
            border: 1px solid $grey-medium;
            margin-right: 20px;
          }
          .online {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: darkgrey;
            border: 1px solid $grey-medium;
            position: absolute;
            right: 26px;
            bottom: 4px;
            &.connected {
              background-color: #0f9a0f;
            }
          }
        }
        .edition {
          background-color: $primary-color;
          height: 54px;
          width: 68px;
          position: absolute;
          right: -10px;
          top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9px 0 0 10px;
          cursor: pointer;
          i {
            color: white;
            font-size: 37px;
          }
          .triangle {
            width: 0;
            height: 0;
            border-top: 10px solid #861949;
            border-right: 10px solid transparent;
            position: absolute;
            bottom: -10px;
            right: 0;
          }
          &:hover, &:focus {
            background-color: #e82373 !important;
            text-decoration: none;
          }
        }
      }
    }
  }

  #publicate-module {
    background-color: white;
    border: 1px solid $grey-border;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
    #create_on_hold {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        box-shadow: inset 0 0 0 2px #dedede;
        .text-action {
          font-size: 18px;
          color: #b7b7b7;
          font-weight: 600;
        }
        .action {
          background-color: $primary-color;
        }
      }
      img.picture-current {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin: 20px;
      }
      .text-action {
        margin-left: 15px;
      }
    }

    #create_ready {
      display: none;
      padding: 20px;
      .select_type {
        margin-bottom: 15px;
        select {
          padding: 5px 14px;
          border: 0;
          border-radius: 0;
          background-color: #E6E6E6;
          margin-right: 10px;
        }
      }
      .comment {
        textarea {
          width: 100%;
          background-color: #E6E6E6;
          border: 0;
          padding: 17px;
          height: 115px;
        }
      }
      .action_buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .select-module {
          select {
            padding: 5px 14px;
            border: 0;
            border-radius: 0;
            background-color: #E6E6E6;
            margin-right: 10px;
          }
        }
        button.cancel {
          border: none;
          background-color: transparent;
          &:hover {
            background-color: $grey-light;
          }
        }
        button.btn.btn-primary.publicate {
          padding: 5px 11px;
        }
      }
    }



  }

  .modules {
    background-color: white;
    border: 1px solid $grey-border;
    display: flex;
    align-items: normal;
    margin-top: 15px;
    position: relative;
    .mod {
      width: 60px;
      height: 60px;
      background-color: $primary-color;
      border-radius: 30px;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        margin: 0;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      img.picture {
        width: 60px;
        height: 60px;
        border-radius: 30px;
      }
    }
    .text {
      margin-left: 15px;
      margin-top: 25px;
      .name {
        font-family: $fontbold;
        font-size: 18px;
        a {
          color: $black-ligth;
          &:hover {
            text-decoration: none;
            color: dimgrey;
          }
        }
      }
      .added {
        font-size: 16px;
        font-weight: 600;
        color: $grey-medium;
      }
      .publication {
        margin-top: 20px;
        margin-bottom: 25px;
      }
    }
    &.forum .mod .icon {
      background-image: url('[[pix:theme|icon/forum]]');
    }
    &.assign .mod .icon  {
      background-image: url('[[pix:theme|icon/assign]]');
    }
    &.resource .mod .icon  {
      background-image: url('[[pix:theme|icon/resource]]');
    }
    &.quiz .mod .icon  {
      background-image: url('[[pix:theme|icon/quiz]]');
    }
    &.url .mod .icon  {
      background-image: url('[[pix:theme|icon/url]]');
    }
    &.audio .mod .icon  {
      background-image: url('[[pix:theme|icon/audio]]');
    }
    &.video .mod .icon  {
      background-image: url('[[pix:theme|icon/video]]');
    }
    &.feedback .mod .icon  {
      background-image: url('[[pix:theme|icon/feedback]]');
    }
    &.label .mod .icon  {
      background-image: url('[[pix:theme|icon/publication]]');
    }
    &.bigbluebuttonbn .mod .icon  {
      background-image: url('[[pix:theme|icon/bigbluebuttonbn]]');
    }
    &.label {
      margin-bottom: 75px;
    }
    .to_comment {
      position: absolute;
      bottom: -60px;
      height: 60px;
      background-color: white;
      outline: 1px solid $grey-border;
      width: 100%;
      display: flex;
      align-items: center;
      img.picture-current {
        height: 38px;
        width: 38px;
        border-radius: 19px;
        margin-left: 30px;
      }
      input.comment {
        margin-left: 42px;
        border-radius: 20px;
        height: 38px;
        border: 1px solid $grey-border;
        width: 100%;
        margin-right: 20px;
        padding: 16px 20px;
      }
    }
  }
  .action {
    font-size: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    background-color: $grey-medium;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-top: 30px;
    &:hover {
      background-color: $primary-color;
    }
  }
  .add-module.action {
    margin-top: 0 ;
  }


}