body[data-theme='cbe'][data-role='user'] {

  header.course {
    justify-content: center;
    .header-board {
      background-position: center;
      background-size: cover;
      height: 250px;
      color: white;
      .degraded {
        background: rgb(0,0,0);
        background: linear-gradient(180deg,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0) 100%);
        .title-box {
          padding: 20px;
          h3.category {
            font-size: 23px;
          }
          h2.coursename {
            font-size: 44px;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
        ul.teachers-box {
          position: absolute;
          bottom: 0;
          right: 0;
          list-style: none;
          display: flex;
          .picture-teacher {
            height: 70px;
            width: 70px;
            border-radius: 35px;
            border: 1px solid $grey-medium;
            margin-right: 20px;
          }
          .online {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: darkgrey;
            border: 1px solid $grey-medium;
            position: absolute;
            right: 26px;
            bottom: 4px;
            &.connected {
              background-color: #0f9a0f;
            }
          }
        }
        .edition {
          background-color: $primary-color;
          height: 54px;
          width: 68px;
          position: absolute;
          right: -10px;
          top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9px 0 0 10px;
          cursor: pointer;
          i {
            font-size: 37px;
          }
          .triangle {
            width: 0;
            height: 0;
            border-top: 10px solid #861949;
            border-right: 10px solid transparent;
            position: absolute;
            bottom: -10px;
            right: 0px;
          }
          &:hover {
            background-color: #e82373;
          }
        }
      }
    }
  }

  #publicate-module {
    background-color: white;
    border: 1px solid $grey-border;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
    display: flex;
    align-items: center;
    img.picture-teacher {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin: 20px;
    }
    .text-action {
      margin-left: 15px;
    }
  }

  .modules {
    background-color: white;
    border: 1px solid $grey-border;
    display: flex;
    align-items: center;
    margin-top: 15px;
    .mod {
      width: 60px;
      height: 60px;
      background-color: $primary-color;
      border-radius: 30px;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        margin: 0;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        &.forum {
          background-image: url('[[pix:theme|icon/forum]]');
        }
        &.assign {
          background-image: url('[[pix:theme|icon/assign]]');
        }
        &.resource {
          background-image: url('[[pix:theme|icon/resource]]');
        }
      }
    }
    .text {
      margin-left: 15px;
      .name {
        font-family: $fontbold;
        font-size: 18px;
      }
      .added {
        font-size: 16px;
        font-weight: 600;
        color: $grey-medium;
      }
    }
  }
  .action {
    font-size: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    background-color: $grey-medium;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    &:hover {
      background-color: $primary-color;
    }
  }


}