body[data-theme='cbe'][data-role='user'] {

  div[data-region='copycourse'] {

    main.contain {
      background-color: white;
      padding: 30px;
      margin-top: 0;
      border: none;
      border-radius: 5px;
      box-shadow: $box-shadow;
      h3.title {
        font-size: 28px;
        font-family: $fontbold;
        position: relative;
        display: inline-flex;
      }
    }
  }

}