body[data-theme='cbe'][data-role='user'].path-grade {

  #page-content.course {
    .grade-navigation {
      border: 1px solid $grey-border;
      border-bottom: none;
      padding-top: 16px;
      ul.nav.nav-tabs {
        margin: -1px;
        margin-bottom: 0!important;
        margin-top: 20px !important;
        a.nav-link {
          opacity: 0.7;
          color: $grey-medium;
          &.active {
            color: $black-ligth;
            opacity: 1;
            font-weight: 600;
          }
          &:hover, &:focus {
            opacity: 1;
          }
        }
        &:first-child {
          margin-top: 0 !important;
        }
      }
    }
    div[role="main"] {
      >form {
        border: 1px solid $grey-border;
        border-top: none;
        padding: 40px 20px 20px;
        h3 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 16px;
        }
        li.page-item {
          a.page-link {
            color: $grey-medium;
          }
          &.active {
            a.page-link {
              color: white;
            }
          }
        }
      }
      >.gradetreebox, >.generalbox {
        border: 1px solid $grey-border;
        padding: 15px;
        margin-bottom: 15px;
        border-top: none;
      }
      table.setup-grades, table.user-grade {
        .level2 img.icon.itemicon {
          background-color: $primary-color;
          padding: 8px;
        }
        .item {
          input.form-control {
            margin-left: 8px;
          }
        }
        th>i.fa-folder,
        td i.fa-folder {
          color: $grey-medium;
          position: relative;
          top: 3px;
          left: -4px;
          font-size: 24px;
        }
      }
      >h3.main {
        border: 1px solid $grey-border;
        margin: 0;
        border-bottom: none;
        border-top: none;
        padding: 20px;
        font-size: 22px;
        font-weight: 600;
      }
      >.centerpara, >.mdl-align {
        border: 1px solid  $grey-border;
        padding-top: 30px !important;
        border-top: none;
        border-bottom: none;
      }
      >.generaltable {
        border: 1px solid $grey-border;
        margin: 0 !important;
      }
      >#graded_users_selector {
        border: 1px solid $grey-border;
        border-top: none;
        border-bottom: none;
        padding: 30px;
        width: 100%;
        margin-bottom: 0;
      }
      >.view_users_selector {
        width: 100%;
        padding: 20px;
        border: 1px solid $grey-border;
        border-top: none;
        border-bottom: none;
        margin: 0;
      }
      >p {
        display: none;
      }
      >.no-overflow, >.reporttable {
        border: 1px solid $grey-border;
        padding: 30px;
        border-top: none;
      }
      >.itemnav {
        padding: 20px;
      }
    }
  }

  &.path-grade-report-grader .gradeparent {
    position: relative;
    overflow-x: scroll;
    margin-top: 20px;
  }

}