body[data-theme='cbe'][data-role='user'].path-question {

  #page-content.course {
    div[role="main"] {
      h2 {
        font-size: 28px;
        font-family: $fontbold;
        margin-bottom: 24px;
      }

    }
  }
}
