body[data-theme='cbe'][data-role='user'].path-group {

  #page-content.course {

    h3 {
      font-size: 28px;
      font-family: $fontbold;
      margin: 30px 15px 25px;
      text-transform: capitalize;
    }

  }

}