body[data-theme='cbe'][data-role='user'][data-context="index"] {

  header.system {
    justify-content: center;
    margin-bottom: 10px;
  }

  #region-main-box {
    >section[data-region="blocks-column"] {
      margin-top: 0;
      margin-left: 15px;
    }
  }

  #page-content.course #region-main-box {
    display: inline-block;
  }

  &#page-site-index #region-main {
    border-radius: 5px;
    border: none;
    box-shadow: $box-shadow;
    div[role="main"] {
      padding: 0 19px;
    }
  }

  #region-main {
    #frontpage-category-combo {
      >h2 {
        display: none;
      }
      .subcategories {
        margin-top: 20px;
        .categoryname {
          border: 1px solid $grey-border;
          padding: 7px 30px !important;
          background-color: $grey-light;
          background-position-x: 6px;
          a {
            color: $black-ligth;
            font-weight: 600;
          }
          span.numberofcourse {
            position: relative;
            top: -3px;
            left: 4px;
          }
        }
        .coursebox>.info>.coursename a {
          background-image: none;
          font-size: 16px;
          font-weight: 600;
        }
        .content {
          padding-left: 16px;
          display: flex;
          flex-direction: column-reverse;
        }

      }
      .course_category_tree .category.collapsed>.content {
        display: none;
      }

    }
  }

}