body[data-theme='cbe'][data-region='login'] {

  font-family: $font;

  #page {
    #region-main-box {
      display: flex;
      section#region-main-login {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        >div[role='main'] {
          width: 100%;
          .card {
            .card-block {
              .card-body {
                text-align: center;
                .row {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  >div {
                    max-width: inherit !important;
                    flex: inherit !important;
                    form {
                      input {
                        text-align: center;
                      }
                      .input-icon {
                        text-align: left;
                        position: relative;
                        i.icon {
                          position: absolute;
                          left: 14px;
                          top: 7px;
                          color: $grey-medium2;
                          font-size: 23px;
                          font-weight: 700;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }




}