body[data-theme='cbe'][data-role='user'] {

  div[data-region='moreinfo'] {
    margin-bottom: 15px;
    main.contain {
      background-color: white;
      padding: 30px;
      border: none;
      border-radius: 5px;
      box-shadow: $box-shadow;
      margin-top: 0;
      word-break: break-word;
      img {
        max-width: 100%;
      }
      h3.title {
        font-size: 28px;
        font-family: $fontbold;
        position: relative;
        display: inline-flex;
        .edit-section-zero {
          position: absolute;
          top: 1px;
          right: -39px;
          a.link {
            i.icon {

            }
          }
        }
      }

      .modules {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        #create_mod_section_zero {
          border: none;
          margin-bottom: 15px;
          align-self: center;
          background-color: $primary-color;
          border-radius: 28px;
          color: white;
          >span {
            margin-left: 4px;
          }
          &:hover {
            background-color: $primary-color-light;
            text-decoration: none;
          }
        }
        .modulecbe {
          border: none;
          .mod {
            width: 60px;
            height: 60px;
            min-width: 60px;
            margin: 15px;
          }
          .text {
            margin: 19px 175px 20px 0;
            .added {
              span.section {
                display: none;
              }
              span.separ {
                display: none;
              }
            }
          }
          .action-mod {
            button.hide-module.action {
              display: none;
            }
            button.anchor-module.action {
              display: none;
            }
          }
          .module_media {
            button.action-media[data-action="expand"] {
              display: none;
            }
            .media-content {
              display: inline !important;
              padding-bottom: 4px;
              .media-resource {
                border: 1px solid #dee2e6;
                margin: 0 20px;
              }
              .description {
                border: 1px solid #dee2e6;
                margin: 0 20px;
                padding: 25px 30px 10px;
              }
            }
          }
        }
      }
    }
  }

}

#page-theme-cbe-view_moreinfo[data-theme='cbe'][data-role="user"] #region-main-box .modulecbe.tresipuntaudio .resourcecontent,
#page-theme-cbe-view_moreinfo[data-theme='cbe'][data-role="user"] #region-main-box .modulecbe.tresipuntvideo .resourcecontent {
  margin: 15px 200px !important;
  border: 3px solid #929292;
}