body[data-theme='cbe'][data-role='user'] {

  div[data-region='moreinfo'] {
    margin-bottom: 15px;
    main.contain {
      background-color: white;
      padding: 30px;
      border: 1px solid $border-color;
      margin-top: 0;
      h3.title {
        font-size: 28px;
        font-family: $fontbold;
        position: relative;
        display: inline-flex;
        .edit-section-zero {
          position: absolute;
          top: 1px;
          right: -39px;
          a.link {
            i.icon {

            }
          }
        }
      }

      .modules {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        #create_mod_section_zero {
          border: none;
          margin-bottom: 15px;
          align-self: flex-end;
        }
      }
    }
  }

}