body[data-theme='cbe'][data-role='user'] {

  div[data-region='resources'] {
    main.contain {
      background-color: white;
      padding: 30px;
      border: none;
      border-radius: 5px;
      box-shadow: $box-shadow;
      margin-top: 0;
      .title_page {
        font-size: 30px;
        font-family: $fontbold;
        color: $black-ligth;
        margin-bottom: 20px;
      }
      .filters {
        width: 100%;
        position: relative;
        i.fa.fa-search {
          position: absolute;
          top: 8px;
          right: 11px;
          font-size: 20px;
          color: #d9d9d9;
        }
      }
      .resettable a {
        background-color: white;
        border: 1px solid $primary-color;
        padding: 4px 10px;
        display: inline-flex;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
          background-color: $primary-color;
          color: white;
        }
      }
      .typeresource {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon {
          background-color: $grey-medium2;
          padding: 6px;
          height: 28px;
          width: 26px;
          margin: 0;
          border-radius: 0px;
        }
        .name {
          text-align: center;
          font-size: 12px;
        }
      }
    }

  }


}