body[data-theme='cbe'][data-role='user'][data-context="system"] {

  header.system {
    justify-content: center;
    margin-bottom: 10px;
  }

  [data-region="blocks-column"] {
    margin-top: 0;
  }

  #page-content {
    #region-main-box {
      [role="main"] {
        >h2 {
          display: none;
        }
      }
    }
  }

}