body[data-theme='cbe'][data-role='user'] {


  #page-header.course.custom {
    .card.header {
      background-position: center;
      background-size: cover;
      .degraded {
        background: linear-gradient(180deg,rgba(0,0,0,0.7) 5%,rgba(0,0,0,0) 100%);
        border-radius: 5px;
        .card-body {
          padding: 25px 50px 11px;
        }
        h1, h2 {
          font-size: 44px;
          margin-top: 11px;
          color: white;
          @media (max-width: 500px) {
            font-size: 24px;
            margin-right: 35px;
          }
        }
        .subtitle {
          font-size: 16px;
          margin-bottom: 4px;
          background-color: #cdcdcd;
          display: inline;
          padding: 6px 12px 3px;
          border-radius: 10px;
          color: #737373;
          @media (max-width: 500px) {
            margin-right: 35px;
            font-size: 18px;
          }
        }
      }
    }
  }

  div[data-region='tasks'],
  div[data-region='modspend'] {
    main.contain {
      background-color: white;
      padding: 30px;
      border: none;
      border-radius: 5px;
      box-shadow: $box-shadow;
      margin-top: 0;
      >h2 {
        text-align: center;
        font-size: 20px;
        margin-top: 40px;
        color: $grey-medium2;
      }
      .title_page {
        font-size: 30px;
        font-family: $fontbold;
        color: $black-ligth;
        margin-bottom: 20px;
      }
      .filters {
        width: 100%;
        position: relative;
        i.fa.fa-search {
          position: absolute;
          top: 8px;
          right: 11px;
          font-size: 20px;
          color: #d9d9d9;
        }
      }
      .resettable a {
        background-color: white;
        border: 1px solid $primary-color;
        padding: 4px 10px;
        display: inline-flex;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
          background-color: $primary-color;
          color: white;
        }
      }
    }

    .generaltable {
      td {
        .fa {
          font-size: 20px;
          margin-left: 7px;
          &.graded {
            color: dodgerblue;
          }
          &.submitted {
            color: seagreen;
          }
          &.out {
            color: #962121;
          }
          &.draft {
            color: #676767;
          }
          &.reopened {
            color: #676767;
          }
          &.not_delivery {
            color: #676767;
          }
        }
      }
    }

  }

  div[data-region='modspend'] {
    main.contain {
      border: none;
    }
  }


}