body[data-theme='cbe'][data-role='user']#page-course-view-topics{

  #page-header.course.themes {

    .card.header {
      background-position: center;
      background-size: cover;
      min-height: 130px;
      .degraded {
        background: linear-gradient(180deg,rgba(0,0,0,0.7) 5%,rgba(0,0,0,0) 100%);
        border-radius: 5px;
      }
      .card-body {
        padding: 20px 46px 0;
        .page-header-headings {
          h1 {
            font-size: 44px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 11px;
            color: white;
            @media (max-width: 500px) {
              font-size: 24px;
              margin-right: 35px;
            }
          }
          h2 {
            font-size: 16px;
            margin-bottom: 4px;
            background-color: #cdcdcd;
            display: inline;
            padding: 6px 12px 3px;
            border-radius: 10px;
            color: #737373;
            @media (max-width: 500px) {
              margin-right: 35px;
              font-size: 18px;
            }
          }
        }
        .tool-tooltip.edition {
          position: absolute;
          right: 10px;
          top: 15px;
          .tool-link {
            background-color: $grey-light;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            i {
              color: $black-ligth;
              font-size: 25px;
            }
            &:hover, &:focus {
              background-color: $primary-color !important;
              text-decoration: none;
              i {
                color: white;
              }
            }
          }
        }
        .mode-edition {
          position: fixed;
          top: 76px;
          right: 0;
          height: 10px;
          z-index: 200;
          @media (max-width: 1199px) {
            top: 274px;
          }

        }
      }
    }
    a#action-menu-toggle-2,
    a#action-menu-toggle-3,
    a#action-menu-toggle-4 {
      color: $black-ligth;
      background-color: $grey-light;
      padding: 5px 6px 3px;
      position: relative;
      right: -2px;
      top: -20px;
      border-radius: 6px;
      z-index: 2;
      &:hover {
        background-color: $primary-color !important;
        color: white;
      }
    }
  }


  .course-content {
    .topics {
      li#section-0 {
        display: none;
      }
      .section.main {
        background-color: white;
        margin: 0 0 15px;
        padding: 15px 10px;
        border: none;
        border-radius: 5px;
        box-shadow: $box-shadow;
      }
    }
    li.activity {
      margin: 0 0 30px;
      &.hasinfo {
        border: none;
      }
      .contentafterlink {
        margin: 10px 15px 0;
        padding: 15px;
        border: 1px solid #f3f3f3;
        @media (max-width: 900px) {
          margin-right: 0;
        }
      }
      div[data-region="activity-dates"] {
        margin: 16px;
      }
    }
    .single-section {
      background-color: #fff;
      margin: 0 0 15px;
      border: 1px solid $border-color;
      padding: 10px 10px 15px;
      .section-navigation {
        &.navigationtitle, &.mdl-bottom {
          >span>a {
            padding: 4px 6px 4px 10px;
            border: 1px solid $grey-light;
            font-size: 12px;
            color: $grey-medium;
            &:hover {
              background-color: $primary-color;
              text-decoration: none;
              color: white;
            }
            span.rarrow {
              margin-left: 5px;
            }
            span.larrow {
              margin-right: 7px;
            }
          }
          .mdl-left {
            a {
              padding: 4px 11px 4px 10px;
            }
          }
        }
        .custom-select.jumpmenu {
          margin-top: 23px;
          font-size: 12px;
        }
      }
      .sectionname {
        text-align: left;
        font-size: 28px;
        font-family: $fontbold;
        margin-left: 20px;
        margin-top: 45px;
      }
      >.topics .section.main {
        background-color: #fff;
        margin: 0;
        border: none;
        padding: 0;
        .summary {
          margin: 10px 30px;
        }
        ul.section {
          margin: 20px 0 20px;
          padding: 10px 13px;
        }
      }
    }
    .section.main {
      .sectionname {
        font-size: 28px;
        font-family: $fontbold;
        margin: 18px 24px 25px;
        a {
          color: $black-ligth;
          &:hover {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
      .summary {
        margin: 10px 26px 20px;
      }
      &.sectiondraggable {
        .section-handle {
          position: relative;
          top: 16px;
        }
      }
      &.current {
        .sectionname {
          &:after {
            color: $primary-color;
            content: "\f111";
            font-size: 28px;
            font-family: FontAwesome, serif;
            margin-left: 10px;
          }
        }
      }
      &.hidden {
        opacity: 0.5;
        .content {
          position: relative;
          .section_availability {
            position: absolute;
            right: 0;
            top: -33px;
          }
        }
      }
    }

    li.activity {
      .activityinstance {
        >.aalink {
          &:hover {
            color: $primary-color;
            text-decoration: none;
          }
        }
        .instancename {
          color: $black-ligth;
          font-size: 18px;
          font-family: $fontbold;
          &:hover {
            color: $primary-color;
            text-decoration: none;
          }
        }
      }
      .actions {
        right: 30px;
      }
    }
  }

  &.editing {
    .course-content {
      .topics {
        li#section-0 {
          display: list-item !important;
        }
      }
    }
  }
}