body[data-theme='cbe'][data-role='user'] {

  #page-header.course {
    .card-body {
      padding: 20px 20px 0;
      .page-header-headings {
        h1 {
          font-size: 44px;
          font-weight: 600;
          letter-spacing: 1px;
        }
        h2 {
          font-size: 23px;
          color: $grey-medium;
          margin-bottom: 4px;
        }
      }
      .d-flex.flex-wrap {
        height: 10px;
      }
    }
  }

  .course-content {
    .topics {
      li#section-0 {
        display: none;
      }
      .section.main {
        background-color: #fff;
        margin: 0 0 15px;
        border: 1px solid $border-color;
        padding: 15px 10px;
      }
    }
    .single-section {
      background-color: #fff;
      margin: 0 0 15px;
      border: 1px solid $border-color;
      padding: 10px 10px 15px;
      .section-navigation {
        &.navigationtitle, &.mdl-bottom {
          >span>a {
            padding: 4px 6px 4px 10px;
            border: 1px solid $grey-light;
            font-size: 12px;
            color: $grey-medium;
            &:hover {
              background-color: $primary-color;
              text-decoration: none;
              color: white;
            }
            span.rarrow {
              margin-left: 5px;
            }
            span.larrow {
              margin-right: 7px;
            }
          }
          .mdl-left {
            a {
              padding: 4px 11px 4px 10px;
            }
          }
        }
      }
      .sectionname {
        text-align: left;
        font-size: 28px;
        font-family: $fontbold;
        margin-left: 20px;
        margin-top: 45px;
      }
      >.topics .section.main {
        background-color: #fff;
        margin: 0;
        border: none;
        padding: 0;
        .summary {
          margin: 10px 30px;
        }
        ul.section {
          margin: 20px 0 20px;
          padding: 10px 13px;
        }
      }
    }
    .section.main {
      .sectionname {
        font-size: 28px;
        font-family: $fontbold;
        margin: 18px 24px 25px;
        a {
          color: $black-ligth;
          &:hover {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
      .summary {
        margin: 10px 26px 30px;
      }
      &.sectiondraggable {
        .section-handle {
          position: relative;
          top: 16px;
        }
      }
    }

    li.activity {
      .activityinstance {
        >.aalink {
          &:hover {
            color: $primary-color;
            text-decoration: none;
          }
        }
        .instancename {
          color: $black-ligth;
          font-size: 16px;
          &:hover {
            color: $primary-color;
            text-decoration: none;
          }
        }
      }
      .actions {
        right: 30px;
      }
    }
  }





}