body[data-theme='cbe'][data-role='user'] {

  div[data-region='vclasses'] {

    main.contain {
      background-color: white;
      padding: 30px;
      border: 1px solid $border-color;
      margin-top: 0;
      .title_page {
        font-size: 30px;
        font-family: $fontbold;
        color: $black-ligth;
        margin-bottom: 20px;
      }
      .filters {
        width: 100%;
        position: relative;
        i.fa.fa-search {
          position: absolute;
          top: 8px;
          right: 11px;
          font-size: 20px;
          color: #d9d9d9;
        }
      }
      .resettable a {
        background-color: white;
        border: 1px solid $primary-color;
        padding: 4px 10px;
        display: inline-flex;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
          background-color: $primary-color;
          color: white;
        }
      }
    }

  }


}