body[data-theme='cbe'][data-role='user']#page-course-view-topics {

  #page-header.row.course {
    .card-body .tri {
      width: 0;
      height: 0;
      border-top: 10px solid #861949;
      border-right: 10px solid transparent;
      position: absolute;
      bottom: 54px;
      right: -10px;
      &.triangle-edit {
        bottom: 59px;
        right: -10px;
      }
      &.triangle-config {
        bottom: 8px;
        right: -10px;
      }
    }
    .singlebutton {
      button {
        visibility: hidden;
        &:before {
          visibility: visible;
          content: "\f040";
          font: normal normal normal 14px/1 FontAwesome;
          background-color: $grey-medium;
          border: none;
          height: 55px;
          width: 70px;
          font-size: 25px;
          position: absolute;
          right: -10px;
          top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9px 0 0 10px;
          cursor: pointer;
          box-shadow: rgb(14 30 37 / 12%) 0 2px 4px 0, rgb(14 30 37 / 32%) 0 2px 16px 0;
        }
        &:hover {
          &:before {
            color: white;
            background-color: $grey-medium2;
            box-shadow: rgb(14 30 37 / 12%) 0 2px 4px 0, rgb(14 30 37 / 32%) 0 2px 16px 0;
          }
        }
      }
      input[name="edit"][value="off"] ~ button {
        &:before {
          background-color: $primary-color;
          content: "\f044";
          font-size: 28px;
        }
        &:hover {
          &:before {
            background-color: $primary-color-light;
          }
        }
      }
    }
    .action-menu.moodle-actionmenu {
      position: absolute;
      bottom: 9px;
      right: 11px;
    }
  }
}

body[data-theme='cbe'][data-role='user']#page-course-view-topics.editing {

  #page {
    background-color: #cacaca!important;
    ul.topics {
      .section.main {
        background-color: #fff;
        margin: 0 0 15px;
        border: 5px dashed #8a8a8a;
        padding: 15px 10px;
      }
    }
  }

}

