body[data-theme='cbe'][data-role='user'] {

  #page-header.row.course {
    .card-body .tri {
      width: 0;
      height: 0;
      border-top: 10px solid #861949;
      border-right: 10px solid transparent;
      position: absolute;
      bottom: 54px;
      right: -10px;
      &.triangle-edit {
        bottom: 59px;
        right: -10px;
      }
      &.triangle-config {
        bottom: 8px;
        right: -10px;
      }
    }
    .singlebutton {
      button {
        visibility: hidden;
        &:before {
          visibility: visible;
          content: "\f040";
          font: normal normal normal 14px/1 FontAwesome;
          background-color: $primary-color;
          border: none;
          height: 45px;
          width: 60px;
          font-size: 25px;
          position: absolute;
          right: -10px;
          top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9px 0 0 10px;
          cursor: pointer;
        }
        &:hover {
          &:before {
            color: white;
            background-color: #f93c88;
          }
        }
      }
      input[name="edit"][value="off"] ~ button {
        &:before {
          background-color: $grey-medium;
          content: "\f044";
          font-size: 28px;
        }
        &:hover {
          &:before {
            background-color: #747474;
          }
        }
      }
    }
    .action-menu.moodle-actionmenu {
      position: absolute;
      bottom: 9px;
      right: 11px;
    }
  }



}