body[data-theme='cbe'] {

  footer#page-footer {
    background-color: white !important;
    height: $footer-height;
    border-top: 1px solid $black-ligth;
    a {
      color: $black-ligth;
    }
    .container {
      text-align: center;
      div.politics {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black-ligth;
        .more {
          margin-left: 6px;
        }
        a {
          color: $black-ligth;
          text-decoration: none;
        }
      }
    }

  }

}