body[data-theme='cbe'] {

  footer#page-footer {
    background-color: white !important;
    height: $footer-height;
    border-top: 1px solid $black-ligth;
    display: flex;
    align-items: center;
    a {
      color: $black-ligth;
    }
    .container {
      text-align: center;
      div.politics {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black-ligth;
        @media (max-width: 768px) {
          flex-direction: column;
        }
        #theme_switch_link {
          display: none;
        }
        .more {
          margin-left: 6px;
          position: relative;
          top: 1px;
        }
        span.pipe {
          margin: 0 8px 0 3px;
          position: relative;
          top: -1px;
          @media (max-width: 768px) {
            display: none;
          }
        }
        a {
          color: $black-ligth;
          text-decoration: none;
        }
      }
    }

  }

}