body[data-theme='cbe'][data-role='user'] {

  #page-header {
    .card.header, .card.header-board {
      box-shadow: $shadow-color 0 3px 6px;
    }
  }

  #page-header.row.course {
    margin-bottom: 10px;
    .is_custom {
      .card-body {
        padding: 24px 24px 14px;
        .text {
          .title {
            font-size: 44px;
            font-weight: 600;
            letter-spacing: 1px;
          }
          .subtitle {
            font-size: 23px;
            color: $grey-medium;
            margin-bottom: 4px;
          }
        }
        .tool-tooltip {
          position: absolute;
          right: -10px;
          top: 15px;
          .tool-link {
            background-color: $primary-color;
            height: 45px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 9px 0 0 10px;
            cursor: pointer;
            i {
              color: white;
              font-size: 25px;
            }
            .triangle {
              width: 0;
              height: 0;
              border-top: 10px solid $primary-color-hard;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -10px;
              right: 0;
            }
            &:hover, &:focus {
              background-color: $primary-color-light !important;
              text-decoration: none;
            }
          }
        }
      }

    }
  }

  #page-header.user {
    .card.header {
      background-blend-mode: luminosity;
    }
    .card-body {
      padding: 0;
      .degraded {
        background: linear-gradient(180deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%);
        padding: 24px;
      }
    }
    .page-header-headings {
      >h1 {
        color: white;
      }
      >h2 {
        color: $grey-medium2;
      }
    }
  }

  #page-header.system {
    .card.header {
      background-blend-mode: luminosity;
    }
    .card-body {
      padding: 0;
      .degraded {
        background: linear-gradient(180deg,rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 110%);
        padding: 24px;
      }
      .text {
        .title {
          font-size: 44px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 5px;
          color: white;
          span.postitle {
            font-size: 24px;
            font-weight: 300;
            margin-left: 10px;
            color: white;
          }
        }
        .subtitle {
          font-size: 23px;
          color: $grey-medium2;
          margin-bottom: 4px;
        }
      }
    }

  }
}
