body[data-theme='cbe'] {



  div#nav-drawer {
    background-color: white;
    border-right: 1px solid $black-ligth;
  }

  [data-region="drawer"] {
    top: $nav-height;
  }

  nav.navbar, nav.navbar_login {
    background-color: white;
    height: $nav-height;
    max-height: $nav-height;
    border-bottom: 1px solid $black-ligth;
    #login-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $nav-height;
      > img {
        height: 60px;
        width: inherit;
      }
    }
  }

  nav.navbar {
    button.btn.nav-link {
      border-radius: 0;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px;
      background-color: $grey-medium !important;
      color: white;
      i.icon {
        font-size: 18px;
      }
    }
  }

}