body[data-theme='cbe'][data-role="user"]  {

  .dashboard-card {
    .action-visibles {
      position: absolute;
      bottom: 77px;
      right: 8px;
      color: grey;
    }
    .teachers {
      position: absolute;
      top: 118px;
      right: 12px;
      display: flex;
      max-width: 250px;
      padding-bottom: 7px;
      overflow-x: scroll;
      scrollbar-color: $grey-border transparent;
      scrollbar-width: thin;
      .teacher {
        height: 50px;
        width: 50px;
        margin: 0 0 0 10px;
        img.picture-teacher {
          width: 50px;
          height: 50px;
          border-radius: 25px;
          border: 1px solid white;
          box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
        }
      }
    }
  }


  footer.course-footer {
    border-top: 1px solid $grey-border;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user-role img.icon {
      width: 32px;
      height: 32px;
    }
    .notification {
      position: relative;
      i {
        color: #929292;
        font-size: 31px;
      }
      .not_nums {
        position: absolute;
        top: 2px;
        left: 17px;
        text-align: center;
        background-color: red;
        color: white;
        border-radius: 22px;
        padding: 0px 4px;
        font-size: 12px;
        min-width: 19px;
      }
    }
    .students {
      >a.btn-tooltip {
        &:hover {
          text-decoration: none;
        }
      }
      span {
        font-size: 21px;
        font-family: $fontbold;
        color: $grey-medium;
        margin-left: 8px;
      }
      i.fa-users {
        font-size: 26px;
        color: $grey-medium;
      }
    }
    .user-role {
      a.btn.aula {
        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }

}