body[data-theme='cbe'][data-role='user'] {
  #create_file_nextcloud {
    padding: 15px;
    i.fa.fa-plus {
      padding-right: 5px;
    }
    .nextcloud-create-file {
      margin-bottom: 10px;
    }
    .nextcloud-create-file-contract {
      display: none;
      margin-bottom: 10px;
    }
    #create_file_nextcloud_body {
      display: none;
      .notice_nc {
        margin-bottom: 10px;
        i.fa.fa-exclamation-triangle {
          color: #ff9e00;
        }
        span.notice_nextcloud_create {
          font-size: 12px;
          color: grey;
        }
      }
      #create_file_nextcloud_iframe {
        display: none;
      }
      div#nextcloud_error {
        background-color: #dddddd;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

}