body[data-theme='cbe'][data-role="user"] {

  .modal-dialog.modchooser {
    .modal-header {
      border-bottom: none;
      .modal-title {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 2.3rem;
      }
    }
    .modal-body {
      .nav-tabs {
        border: none !important;
        margin-bottom: 20px;
        .nav-item {
          border: 1px solid #e8e8e8;
          background-color: #f1f1f1;
          color: $grey-medium2;
          margin-right: 10px;
          &.active {
            color: white;
            font-weight: 600;
            background-color: $primary-color;
          }
        }
      }
      .tab-content, .searchresultitemscontainer-wrapper {
        border: none !important;
        background-color: white !important;
      }
      .optionscontainer, .searchresultitemscontainer {
        [role="menuitem"][data-internal="bigbluebuttonbn"] {
          >.optioninfo {
            >a {
              align-items: center;
              .optionicon {
                width: 46px;
                height: 46px;
                background-color: $primary-color;
                background-image: url('[[pix:mod_bigbluebuttonbn|icon]]');
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: 50%;
                .icon-bigbluebutton {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .cbe-modal {
    .modal-content {
      padding: 30px;
      header {
        text-align: center;
        h1 {
          font-weight: 600;
        }
      }
      main {
        display: flex;
        width: 100%;
        flex-direction: column;
        &.create_mod {
          .mods {
            display: flex;
            flex-direction: row;
          }
          .sections {
            label {
              text-align: center;
              width: 100%;
              margin-bottom: 10px;
            }
            select#selsection {
              width: 100%;
              margin: 10px 45px;
              max-width: 633px;
              padding: 5px;
            }
          }
        }
        .column {
          width: 100%;
          margin: 10px;
          h2 {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
          }
          ul.select-modules {
            list-style: none;
            margin-top: 25px;
            li.select-module {
              margin: 10px 0;
              a.create-mod {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                color: $black-ligth;
                &:hover {
                  background-color: $grey-light;
                  .mod-icon {
                    background-color: $primary-color-hover;
                  }
                }
                .mod-icon {
                  background-color: $primary-color;
                  min-width: 60px;
                  height: 60px;
                  background-size: 35px 35px;
                  background-repeat: no-repeat;
                  background-position: 50%;
                  &.forum {
                    background-image: url('[[pix:mod_forum|icon]]');
                  }
                  &.assign  {
                    background-image: url('[[pix:mod_assign|icon]]');
                  }
                  &.resource {
                    background-image: url('[[pix:mod_resource|icon]]');
                  }
                  &.quiz {
                    background-image: url('[[pix:mod_quiz|icon]]');
                  }
                  &.url {
                    background-image: url('[[pix:mod_url|icon]]');
                  }
                  &.tresipuntaudio {
                    background-image: url('[[pix:mod_tresipuntaudio|icon]]');
                  }
                  &.tresipuntvideo {
                    background-image: url('[[pix:mod_tresipuntvideo|icon]]');
                  }
                  &.feedback {
                    background-image: url('[[pix:mod_feedback|icon]]');
                  }
                  &.bigbluebuttonbn {
                    background-image: url('[[pix:mod_bigbluebuttonbn|icon]]');
                  }
                  &.page {
                    background-image: url('[[pix:mod_page|icon]]');
                  }
                }
                .text {
                  padding-left: 20px;
                  font-size: 15px;
                  font-weight: 600;
                  border: 1px solid $grey-medium2;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  position: relative;
                  left: -1px;
                  width: 100%;
                }
              }

            }
          }
        }
      }
      footer {
        display: flex;
        .btn.cancel {
          &:hover {
            background-color: $grey-light;
          }
        }
      }
    }
  }

  .bd-createsection-modal-lg {
    .cbe-modal {
      .modal-content {
        main {
          flex-direction: column;
          padding: 20px;
          .label-create {
            font-size: 16px;
            margin-bottom: 2px;
          }
          .input-create {
            padding: 10px 20px;
            border: 1px solid $grey-border;
            border-radius: 0;
            font-size: 18px;
            font-family: $fontbold;
          }
          .themes-create {
            list-style: none;
            margin: 10px 0;
            li.theme-create {
              font-size: 20px;
              margin: 0 22px;
              font-weight: 600;
              display: flex;
              flex-direction: column;
              span.section-name-create {
                margin-left: 20px;
              }
            }
            label.here {
              font-size: 14px;
              font-weight: normal;
              color: $grey-medium;
              margin-bottom: 0;
            }
            .position.last {
              margin-left: 22px;
              margin-top: 4px;
            }
          }
          .action-buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .cancel {
              &:hover {
                background-color: $grey-light;
              }
            }
          }
        }
      }
    }
  }

  .bd-deletemodule-modal {
    .modal-comment {
      background-color: $grey-light;
      border-radius: 20px;
      padding: 20px;
      font-style: italic;
    }
  }

  #createCourseModalCenter {
    .modal-content {
      main {
        display: flex;
        flex-direction: column;
        .helplabel {
          background-color: transparent;
          color: #51bbe4;
          border: none;
          margin: 0;
          padding: 3px 4px 5px;
        }
        .verify-input {
          display: flex;
          flex-direction: row;
          .verify {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            i.fa {
              display: none;
              font-size: 18px;
              &.fa-check-circle-o {
                color: green;
              }
              &.fa-times-circle-o {
                color: red;
              }
            }
          }
        }
        .alert-msg {
          font-size: 12px;
          font-style: italic;
          padding: 3px 12px;
          color: red;
        }
      }
    }
  }

}