body[data-theme='cbe'][data-role="user"] {

  .modal-dialog.modchooser {
    .modal-header {
      border-bottom: none;
      .modal-title {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 2.3rem;
      }
    }
    .modal-body {
      .nav-tabs {
        border: none !important;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .nav-item {
          border: none;
          background-color: transparent;
          color: $black-ligth;
          margin-right: 10px;
          position: relative;
          &[data-region=default-tab-nav] {
            display: none;
          }
          &:hover {
            background-color: $grey-light;
          }
          &.active {
            font-weight: bold;
            &::after {
              content: " ";
              background-color: $primary-color;
              width: 100%;
              height: 5px;
              left: 0;
              position: absolute;
              border-radius: 12px;
              bottom: 0;
            }
          }
        }
      }
      .tab-content, .searchresultitemscontainer-wrapper {
        border: 1px solid $grey-medium2;
        background-color: white !important;
      }


      .optionscontainer, .searchresultitemscontainer {
        [role="menuitem"][data-internal="bigbluebuttonbn"] {
          >.optioninfo {
            >a {
              align-items: center;
              .optionicon {
                max-width: 60px !important;
                height: 60px;
                background-color: $primary-color;
                background-image: url('[[pix:mod_bigbluebuttonbn|icon]]');
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 30px;
                margin-right: 20px;
                margin-left: 20px;
              }
            }
          }
        }
      }
      .modchoosercontainer .optionscontainer,
      .modchoosercontainer .searchresultitemscontainer {
        overflow-x: hidden;
        display: grid !important;
        flex-wrap: wrap !important;
        margin-bottom: 0;
        grid-template-columns: 50% 50%;
        grid-gap: 2px;
        .option {
          margin: 0;
          .optioninfo {
            flex-direction: row !important;
            a {
              flex-direction: row !important;
              align-items: center;
              flex: initial !important;
              .optionicon {
                width: 100px;
                max-width: 100px;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                display: flex;
                justify-content: center;
                .contain_icon {
                  background-color: $primary-color;
                  border-radius: 30px;
                  width: 60px;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &.mod_resource,
                  &.mod_tresipuntvideo,
                  &.mod_tresipuntaudio,
                  &.mod_folder,
                  &.mod_url,
                  &.mod_page,
                  &.mod_label,
                  &.mod_tresipuntshare {
                    background-color: white;
                    border: 4px solid $primary-color;
                    svg.theme-cbe-icon {
                      height: 27px;
                      width: 27px;
                      fill: $primary-color;
                    }
                  }
                  .icon.icon {
                    height: 27px !important;
                    width: 27px !important;
                  }
                  .icon-bigbluebutton {
                    background-image: url('[[pix:mod_bigbluebuttonbn|icon]]');
                    background-size: 27px 27px;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    &:before {
                      content: "";
                    }
                  }
                }
              }
            }
            .optionactions {
              align-items: center;
              margin-left: 10px;
              .btn-icon {
                height: 25px !important;
                width: 25px !important;
              }
            }
          }
        }
      }
    }
  }

  .cbe-modal {
    .modal-content {
      padding: 30px;
      header {
        text-align: center;
        color: $black-ligth;
        h1 {
          font-weight: 600;
        }
      }
      main {
        display: flex;
        width: 100%;
        flex-direction: column;
        &.create_mod {
          .mods {
            .nav-tabs {
              border: none !important;
              margin: 0 20px;
              display: flex;
              justify-content: space-between;
              position: relative;
              .nav-item {
                border: none;
                background-color: transparent;
                color: $black-ligth;
                margin-right: 10px;
                position: relative;
                &:hover {
                  background-color: $grey-light;
                }
                a.nav-link {
                  color: $black-ligth;
                  &.active {
                    font-weight: bold;
                    border: none;
                    color: $black-ligth;
                    &::after {
                      content: " ";
                      background-color: $primary-color;
                      width: 100%;
                      height: 5px;
                      left: 0;
                      position: absolute;
                      border-radius: 12px;
                      bottom: 0;
                    }
                  }
                }
              }
            }
            .tab-content {
              border: 1px solid $grey-medium2;
              background-color: white !important;
              padding: 20px;
              .select-modules {
                list-style: none;
                display: grid;
                flex-wrap: wrap;
                margin-bottom: 0;
                grid-template-columns: 50% 50%;
                grid-gap: 2px;
                .select-module {
                  a.create-mod {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    .mod-icon {
                      background-color: $primary-color;
                      border-radius: 30px;
                      width: 60px;
                      height: 60px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      &.is_resource {
                        background-color: white;
                        border: 4px solid $primary-color;
                        svg.theme-cbe-icon {
                          height: 27px;
                          width: 27px;
                          fill: $primary-color;
                        }
                      }
                      .icon.icon {
                        height: 27px;
                        width: 27px;
                        margin: 0;
                      }
                      .icon-bigbluebutton {
                        background-image: url('[[pix:mod_bigbluebuttonbn|icon]]');
                        background-size: 27px 27px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        &:before {
                          content: "";
                        }
                      }
                    }
                    .text {
                      margin-left: 12px;
                      color: $black-ligth;
                    }
                    &:hover {
                      text-decoration: none;
                      background-color: $grey-light;
                    }
                  }
                }
              }
            }
          }
          .sections {
            text-align: center;
            label {
              margin: 20px 47px 0;
            }
            select#selsection {
              width: 100%;
              margin: 2px 45px 18px;
              max-width: 633px;
              padding: 5px;
              @media (max-width: 991px) {
                max-width: 340px;
                margin: 2px 20px 20px 0;
              }
            }
          }
        }
      }
      footer {
        display: flex;
        .btn.cancel {
          &:hover {
            background-color: $grey-light;
          }
        }
      }
    }
  }

  .bd-createsection-modal-lg {
    .cbe-modal {
      .modal-content {
        main {
          flex-direction: column;
          padding: 20px;
          .label-create {
            font-size: 16px;
            margin-bottom: 2px;
          }
          .input-create {
            padding: 10px 20px;
            border: 1px solid $grey-border;
            border-radius: 0;
            font-size: 18px;
            font-family: $fontbold;
          }
          .themes-create {
            list-style: none;
            margin: 10px 0;
            li.theme-create {
              font-size: 20px;
              margin: 0 22px;
              font-weight: 600;
              display: flex;
              flex-direction: column;
              span.section-name-create {
                margin-left: 20px;
              }
            }
            label.here {
              font-size: 14px;
              font-weight: normal;
              color: $grey-medium;
              margin-bottom: 0;
            }
            .position.last {
              margin-left: 22px;
              margin-top: 4px;
            }
          }
          .action-buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .cancel {
              &:hover {
                background-color: $grey-light;
              }
            }
          }
        }
      }
    }
  }

  .bd-deletemodule-modal,
  .bd-deletecomment-modal,
  .bd-editcomment-modal {
    .modal-comment {
      background-color: $grey-light;
      border-radius: 20px;
      padding: 20px;
      font-style: italic;
      text-align: left;
    }
    textarea.textcomment {
      border: 1px solid #cacaca;
      border-radius: 0;
      margin: 10px;
      padding: 10px;
      width: 85%;
    }
  }

  #createCourseModalCenter {
    .modal-content {
      main {
        display: flex;
        flex-direction: column;
        .helplabel {
          background-color: transparent;
          color: #51bbe4;
          border: none;
          margin: 0;
          padding: 3px 4px 5px;
        }
        .verify-input {
          display: flex;
          flex-direction: row;
          .verify {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            i.fa {
              display: none;
              font-size: 18px;
              &.fa-check-circle-o {
                color: green;
              }
              &.fa-times-circle-o {
                color: red;
                display: inline;
              }
            }
          }
        }
        .alert-msg {
          font-size: 12px;
          font-style: italic;
          padding: 3px 12px;
          color: red;
        }
        .selectcategory {
          display: flex;
        }
      }
    }
  }

}