<div id="course-left-section" class="row">
    {{# sections }}
    <div class="col-12 pl-0 pr-0 p-xl-0">
        <div class="menu-card">
            {{{ . }}}
        </div>
    </div>
    {{/ sections }}
</div>