body[data-theme='cbe'][data-role='user'] {

  .btn {
    border-radius: 0;
  }

  .btn-secondary {
    background-color: $grey-medium;
    color: white;
  }

  input::placeholder {
    color: $grey-medium;
  }
  .form-control {
    background-color: white;
    border: 1px solid $grey-border;
  }

}


