body[data-theme='cbe'][data-role='user'] {

  .btn {
    border-radius: 0;
  }

  .btn-secondary {
    background-color: $grey-medium;
    color: white;
    border: none;
  }

  .btn-secondary:hover,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show>.btn-secondary.dropdown-toggle {
    color: white;
    background-color: $grey-medium2;
    border-color: $grey-medium2;
  }

  .btn-outline-secondary {
    color: $grey-medium2;
    border-color:$grey-medium2;
    background-color: $grey-light;
    &:hover, &:active {
      color: white;
      background-color: $grey-medium2;
      border-color: $grey-medium2;
    }
  }

  input::placeholder {
    color: $grey-medium;
  }
  .form-control {
    background-color: white;
    border: 1px solid $grey-border;
    &:disabled {
      background: #e2e2e2;
    }
  }

}


