body[data-theme='cbe'] {

  .activity {
    &.modtype_url,
    &.modtype_tresipuntvideo,
    &.modtype_tresipuntaudio,
    &.modtype_folder,
    &.modtype_page,
    &.modtype_resource {
      .activityinstance>a.aalink img.iconlarge.activityicon {
        background-color: $primary-color-light !important;
        border-radius: 20px !important;
        padding: 15px;
      }
    }

    .activityinstance {
      >a.aalink {
        display: flex !important;
        align-items: center;
        text-indent: 0 !important;
        justify-content: normal;
        flex-direction: row;
        padding-left: 15px !important;

        img.iconlarge.activityicon {
          background-color: $primary-color;
          border-radius: 10px;
          padding: 10px;
          width: 50px;
          height: 50px;
        }
      }
      >.inplaceeditable {
        >a.aalink {
          img.iconlarge.activityicon {
            background-color: $primary-color;
            padding: 7px;
            border-radius: 10px;
            width: 50px;
            height: 50px;
          }
          span.instancename {
            position: relative;
            top: -6px;
          }
        }
        >a.quickeditlink.aalink {
          position: relative;
          top: -6px;
        }
      }
    }
  }

  .section .activity .editing_move {
    top: 5px;
  }

  #recycle-bin-table img.icon {
    background-color: $primary-color;
    padding: 5px;
    width: 15px;
    height: 16px;
  }

  .modchoosercontainer img.icon.icon {
    background-color: $primary-color;
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }

  #plugins-control-panel .pluginname img.icon.pluginicon {
    background-color: $primary-color;
    padding: 1px;
    width: 12px;
    height: 12px;
  }

  #modules.generaltable {
    img.icon {
      background-color: $primary-color;
      padding: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .fp-filename-icon {
    span.fp-icon {
      background-color: $primary-color;
      width: 28px;
      height: 28px;
      margin: 0 2px 1px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -7px;
      left: -3px;
      .icon {
        margin: 0;
      }
    }
    .fp-filename {
      padding-right: 10px;
      position: relative;
      top: -5px;
    }
  }

}

