body[data-theme='cbe'] {

  .activity {

    .activityinstance {
      >a.aalink,
      >.inplaceeditable >a.aalink {
        .cbe_icon_mod {
          background-color: $primary-color;
          border-radius: 51px;
          display: inline-flex !important;
          align-items: center;
          width: 60px;
          height: 60px;
          justify-content: center;
          margin-right: 10px;
          min-width: 60px;
          &.resource {
            background-color: white;
            border: 4px solid $primary-color;
            .module-resource-icon-component-cbe {
              svg.theme-cbe-icon {
                width: 27px;
                height: 27px;
                fill: $primary-color;
              }
              &.url {
                svg.theme-cbe-icon {
                  stroke: $primary-color;
                }
              }
            }
          }
          img.iconlarge.activityicon {
            width: 27px;
            height: 27px;
            margin: 0;
          }
        }
      }
      >a.aalink {
        display: flex !important;
        align-items: center;
        text-indent: 0 !important;
        justify-content: normal;
        flex-direction: row;
        padding-left: 15px !important;
        &.dimmed {
          .cbe_icon_mod {
            opacity: 0.5;
          }
        }
      }
      >.inplaceeditable {
        >a.aalink {
          display: inline-flex;
          align-items: center;
        }
        >a.quickeditlink.aalink {
          position: relative;
          top: -6px;
        }
      }
    }
  }

  .section .activity .editing_move {
    top: 5px;
  }

  #recycle-bin-table img.icon {
    background-color: $primary-color;
    padding: 5px;
    width: 15px;
    height: 16px;
  }

  .modchoosercontainer img.icon.icon {
    background-color: $primary-color;
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }

  #plugins-control-panel .pluginname img.icon.pluginicon {
    background-color: $primary-color;
    padding: 1px;
    width: 12px;
    height: 12px;
  }

  #modules.generaltable {
    img.icon {
      background-color: $primary-color;
      padding: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .fp-filename-icon {
    span.fp-icon {
      background-color: $primary-color;
      width: 28px;
      height: 28px;
      margin: 0 2px 1px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -7px;
      left: -3px;
      .icon {
        margin: 0;
      }
    }
    .fp-filename {
      padding-right: 10px;
      position: relative;
      top: -5px;
    }
  }

}

