body[data-theme='cbe'][data-role='user'] {


  #page-content.course {
    .groupdisplay,
    .grade-navigation,
    .questionbank-navigation,
    div[role="main"] {
      >.nav-tabs {
        border: none;
        margin: 0 0 30px !important;
        font-size: 13px;
        .nav-item {
          margin-right: 12px;
          a.nav-link {
            border: 1px solid #e8e8e8;
            background-color: #f1f1f1;
            color: $grey-medium2;
            &.active {
              color: white;
              background-color: grey;
            }
          }
        }
        &:first-of-type {
          font-size: 15px;
          margin: 0 0 10px !important;
          .nav-item {
            a.nav-link {
              &.active {
                font-weight: 600;
                background-color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
