body[data-theme='cbe'][data-role='user'] {


  #page-content.course {
    .groupdisplay,
    .grade-navigation,
    .questionbank-navigation,
    div[role="main"] {
      >.nav-tabs {
        border: none;
        margin: 0 0 30px !important;
        font-size: 13px;
        .nav-item {
          margin-right: 12px;
          a.nav-link {
            border: 1px solid #e8e8e8;
            background-color: #f1f1f1;
            color: $grey-medium2;
            &.active {
              color: white;
              background-color: grey;
            }
          }
        }
        &:first-of-type {
          font-size: 15px;
          margin: 0 0 10px !important;
          .nav-item {
            a.nav-link {
              &.active {
                font-weight: 600;
                background-color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .nav-tabs, .nav-pills {
      background-color: transparent;
    }
  }

  @media (max-width: 767.98px) {
    .nav-tabs .nav-link.active:not(:disabled):not(.disabled):active,
    .nav-pills .nav-link.active:not(:disabled):not(.disabled):active,
    .nav-tabs .nav-link.active:not(:disabled):not(.disabled).active,
    .nav-pills .nav-link.active:not(:disabled):not(.disabled).active,
    .show>.nav-tabs .nav-link.active.dropdown-toggle,
    .show>.nav-pills .nav-link.active.dropdown-toggle {
      color: $secondary-color;
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }
    .modchoosercontainer .nav-tabs .nav-link.active:not(:disabled):not(.disabled).active {
      background-color: inherit !important;
      color: inherit !important;
      border: inherit !important;
      margin-bottom: inherit !important;
    }
  }

  @media (max-width: 767.98px) {
    .modal-dialog.modchooser .modal-body .nav-tabs .nav-item {
      top: 2px;
    }
    .modal-dialog.modchooser .modal-body .modchoosercontainer .optionscontainer .option .optioninfo a .optionicon,
    .modal-dialog.modchooser .modal-body .modchoosercontainer .searchresultitemscontainer .option .optioninfo a .optionicon {
      width: 70px;
    }
  }

  @media (max-width: 550px) {
    .modal-dialog.modchooser .modal-body .modchoosercontainer .optionscontainer,
    .modal-dialog.modchooser .modal-body .modchoosercontainer .searchresultitemscontainer {
      grid-template-columns: 100% !important;
    }
  }
}
