body[data-theme='cbe'][data-role='user'] {

  font-family: $font;
  color: $black-ligth;

  *:focus {
    outline-style: none !important;
    outline-color: transparent !important;
    outline-offset: unset !important;
    box-shadow: none !important;
  }

  .dropdown-item:active,
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:focus-within {
    outline: 0;
    background-color: $primary-color;
  }

  .font-size-sm {
    font-size: $font-size-sm;
  }

  .anchorcbe {
    display:block;
    padding-top:90px;
    margin-top:-74px;
  }

  #navbar-logo:focus {
    background-color: transparent !important;
  }

  #page {
    margin-top: $nav-height;
    background-color: $backboard-color !important;
  }

  .card {
    border-radius: 5px;
    border: none;
  }

  #region-main {
    border: none;
    border-radius: 5px;
  }

  [data-region="blocks-column"] {
    margin-top: 18px;
    .card {
      border-radius: 5px;
      border: none;
      box-shadow: $box-shadow !important;
    }
  }

  .btn-tooltip {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .filemanager {
    .fp-thumbnail img {
      padding: 8px;
      background-color: $primary-color;
    }
  }

}

.userloggedinas .usermenu .userbutton .avatars .avatar.current {
  bottom: 5px;
  right: 5px;
}

body[data-theme='cbe'][data-role='admin'] {
  #page-wrapper #page {
    margin-top: $nav-height;
  }
}


#page-theme-cbe-view_tasks .module-component .icon {
  width: 32px;
  height: 32px;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-border;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C2C2C2;
  width: 6px;
}
/* ScrollBar */