body[data-theme='cbe'][data-role='user'] {

  font-family: $font;
  color: $black-ligth;

  *:focus {
    outline-style: none !important;
    outline-color: transparent !important;
    outline-offset: unset !important;
    box-shadow: none !important;
  }

  .dropdown-item:active,
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:focus-within {
    outline: 0;
    background-color: $primary-color;
  }

  .font-size-sm {
    font-size: $font-size-sm;
  }

  #navbar-logo:focus {
    background-color: transparent !important;
  }

  #page {
    margin-top: $nav-height;
    background-color: $grey-light !important;
  }

  .card {
    border: 1px solid $grey-border;
    box-shadow: $shadow-color 0 3px 6px;
    border-radius: 0;
  }

  [data-region="blocks-column"] {
    margin-top: 32px;
  }

  .btn-tooltip {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
  }

}

body[data-theme='cbe'][data-role='admin'] {
  #page-wrapper #page {
    margin-top: $nav-height;
  }
}