@font-face {
  font-family: 'Montserrat';
  src: url([[font:theme_cbe|Montserrat-Regular.ttf]]);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url([[font:theme_cbe|Montserrat-Bold.ttf]]);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url([[font:theme_cbe|Montserrat-Thin.ttf]]);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFHandbookPro';
  src: url([[font:theme_cbe|PFHandbookPro-Light.otf]]);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFHandbookPro Bold';
  src: url([[font:theme_cbe|PFHandbookPro-Bold.otf]]);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFHandbookPro Thin';
  src: url([[font:theme_cbe|PFHandbookPro-Thin.otf]]);
  font-weight: bold;
  font-style: normal;
}