@font-face {
  font-family: 'PFHandbookPro';
  src: url([[font:theme_cbe|PFHandbookPro-Light.otf]]);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFHandbookPro Bold';
  src: url([[font:theme_cbe|PFHandbookPro-Bold.otf]]);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFHandbookPro Thin';
  src: url([[font:theme_cbe|PFHandbookPro-Thin.otf]]);
  font-weight: bold;
  font-style: normal;
}

// League Spartan.

@font-face {
  font-family: 'LeagueSpartan';
  src: url([[font:theme_cbe|LeagueSpartan-Regular.ttf]]);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan Bold';
  src: url([[font:theme_cbe|LeagueSpartan-Bold.ttf]]);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan Light';
  src: url([[font:theme_cbe|LeagueSpartan-Light.ttf]]);
  font-weight: normal;
  font-style: normal;
}