<footer class="course-footer">
    <div class="user-role">
        <button type="button" class="btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ rolename }} ">
            {{# pix }} role_{{ role }}, theme_cbe, {{ rolename }} {{/ pix }}
        </button>
    </div>
    <div class="students">
        <button type="button" class="btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ students_num }} {{# str }} students {{/ str }}">
            <i class="fa fa-users" aria-hidden="true"></i><span>{{ students_num }}</span>
        </button>
    </div>
    <div class="user-role">
        <a href="{{ viewurl }}" class="btn btn-secondary aula">{{# str }} view_course, theme_cbe {{/ str }}</a>
    </div>
</footer>