{{# title }}
<h3 class="title">{{ title }}</h3>
{{/ title }}
<ul class="pending-taks">
    <li class="task">
        <span class="icon assign"></span>
        <div class="data">
            <div class="text">Investigació del romànic a Tarragona</div>
            <div class="deadline">{{# str }} deadline, theme_cbe {{/ str }}: 23/03/2021</div>
        </div>
    </li>
    <li class="task">
        <span class="icon feedback"></span>
        <div class="data">
            <div class="text">Enquesta de valoració</div>
            <div class="deadline">{{# str }} deadline, theme_cbe {{/ str }}: 25/03/2021</div>
        </div>
    </li>
</ul>