<div class="teachers">
    {{# teachers }}
    <div class="teacher">
        <button type="button" class="btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ fullname }}">
            <img class="picture-teacher" src="{{ picture }}" alt="">
        </button>
    </div>
    {{/teachers}}
</div>