{{# title }}
<h3 class="title">{{ title }}</h3>
{{/ title }}
<div class="themes-navigation">

    <a id="view_alls" href="{{ view_all }}">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>{{# str }} course_navigation_view_all, theme_cbe {{/ str }}</span>
    </a>

    <ul class="themes">
        {{# themes }}
        <li class="theme {{# active }}active{{/ active }}">
            <a href="{{ href }}">{{ name }}</a>
        </li>
        {{/ themes }}
    </ul>


    <a id="create_theme">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <span>{{# str }} course_navigation_create_theme, theme_cbe {{/ str }}</span>
    </a>




</div>