{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<div id="goto-top-link">
    {{! go to top is sticky to footer so needs to be sibling }}
    <a class="btn btn-light" role="button" href="#" aria-label="{{#str}} totop, theme_boost {{/str}}">
        {{#pix}} i/up, core{{/pix}}
    </a>
</div>
<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">
        {{# has_dd_link }}
            <a target="_blank" id="footer-ddlink" class="btn btn-primary ddlink" title="{{# str }} ddlink_url, theme_cbe {{/ str }}" href="{{ ddlink_url }}">
                {{#pix}} logo_footer, theme_cbe, {{# str }} ddlink_url, theme_cbe {{/ str }}{{/pix}}
            </a>
        {{/ has_dd_link }}
        <div class="politics">
            {{{ output.standard_footer_html }}} <span class="more"><span class="pipe">|</span><a href="{{ policies_url }}" target="_blank">{{#str}} policies, theme_cbe {{/str}}</a></span>
        </div>
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>
