<div class="item-mod">
    <div class="mod" data-toggle="tooltip" data-placement="top" title="{{ modfullname }}">
        <a class="icon" href="{{ view_href }}" {{# view_blank }}target="_blank"{{/ view_blank }}></a>
    </div>
    <div class="text">
        <div class="name">
            <a href="{{ view_href }}" {{# view_blank }}target="_blank"{{/ view_blank }}>
            {{ name }}
            </a>
        </div>
        <div class="added">{{ added }}</div>
    </div>
    {{# is_teacher }}
        <a href="{{ edit_href }}" class="edit-module action"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    {{/ is_teacher }}
    {{^ is_teacher }}
        <a href="{{ view_href }}" class="view-module action"><i class="fa fa-eye" aria-hidden="true"></i></a>
    {{/ is_teacher }}
</div>
<div class="module_media" data-region="media">
    {{# is_media }}
        <div class="media-block">
            <div class="expand-media">
                <button class="expand-media" data-cmid="{{ id }}" data-action="expand">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <button class="contract-media" data-cmid="{{ id }}" data-action="contract">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </button>
            </div>
            <div class="media-content" data-media="{{ id }}">
                <h3>{{{ media }}}</h3>
            </div>
        </div>
    {{/ is_media }}
</div>
{{#js}}
    require(['theme_cbe/viewmedia'], function(viewmedia) {
        viewmedia.initViewMedia('[data-region="media"]');
    });
{{/js}}