{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!


}}
<div class="module-resource-icon-component-cbe tresipuntshare">
    <svg class="theme-cbe-icon" xmlns="http://www.w3.org/2000/svg" width="22.621" height="60.323" viewBox="0 0 22.621 60.323">
        <path id="Icon_awesome-info" data-name="Icon awesome-info" d="M2.356,49.982H4.713V32.962H2.356A2.356,2.356,0,0,1,0,30.606V24.978a2.356,2.356,0,0,1,2.356-2.356h13.2a2.356,2.356,0,0,1,2.356,2.356v25h2.356a2.356,2.356,0,0,1,2.356,2.356v5.628a2.356,2.356,0,0,1-2.356,2.356H2.356A2.356,2.356,0,0,1,0,57.967V52.339A2.356,2.356,0,0,1,2.356,49.982ZM11.311,0a8.483,8.483,0,1,0,8.483,8.483A8.483,8.483,0,0,0,11.311,0Z"/>
    </svg>
</div>
