{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!


}}
<div class="module-resource-icon-component-cbe page">

    <svg class="theme-cbe-icon" xmlns="http://www.w3.org/2000/svg" width="319.715" height="255.778" viewBox="0 0 319.715 255.778">
        <path id="Icon_material-web" data-name="Icon material-web" d="M384.049,128H128.285a31.935,31.935,0,0,0-31.813,31.976L96.309,351.8a32.072,32.072,0,0,0,31.976,31.976H384.049A32.071,32.071,0,0,0,416.024,351.8V159.976A32.07,32.07,0,0,0,384.049,128ZM304.123,351.8H128.285V287.8H304.123Zm0-79.925H128.285V207.871H304.123ZM384.049,351.8H320.043V207.925h64.006Z" transform="translate(-96.309 -128)"/>
    </svg>

</div>