{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!


}}
<div class="module-resource-icon-component-cbe url">

    <svg class="theme-cbe-icon" xmlns="http://www.w3.org/2000/svg" width="42.472" height="42.472" viewBox="0 0 42.472 42.472">
        <g id="Icon_feather-external-link" data-name="Icon feather-external-link" transform="translate(2.5 3.536)">
            <path id="Trazado_3109" data-name="Trazado 3109" d="M34.863,23.17V35.315a4.048,4.048,0,0,1-4.048,4.048H8.548A4.048,4.048,0,0,1,4.5,35.315V13.048A4.048,4.048,0,0,1,8.548,9H20.694" transform="translate(-4.5 -2.927)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
            <path id="Trazado_3110" data-name="Trazado 3110" d="M22.5,4.5H34.645V16.645" transform="translate(1.791 -4.5)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
            <path id="Trazado_3111" data-name="Trazado 3111" d="M15,26.766,37.266,4.5" transform="translate(-0.83 -4.5)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        </g>
    </svg>


</div>
