<section id="create_file_nextcloud" class="dropdown">
    <button data-action="create_file_nextcloud" class="btn btn-primary dropdown-toggle nextcloud-create-file" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>{{# str }} nc_createfile_nc, theme_cbe {{/ str }}</span>
    </button>
    <button data-action="create_file_nextcloud_contract" class="btn btn-primary nextcloud-create-file-contract" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </button>
    <div id="create_file_nextcloud_body">
        <div class="notice_nc">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span class="notice_nextcloud_create">{{# str }} notice_filecreate, theme_cbe {{/ str }}</span>
        </div>
        <div id="nextcloud_error"></div>
        <div class="hide_header"></div>
        <iframe id="create_file_nextcloud_iframe" class='tipnc-iframe' src="" width="100%" height="600px" align="top" frameborder="0"></iframe>
    </div>
</section>


{{#js}}

    require(['theme_cbe/createfilenc'], function(createfilenc) {
        createfilenc.initCreatefilenc();
    });

{{/js}}