<div class="item-mod">
    <div class="alert-msgs">
        {{# is_teacher }}
            {{# is_hidden }}
                <span class="is_hidden_msg">{{# str }} hiddenfromstudents {{/ str }}</span>
            {{/ is_hidden }}
            {{# board_is_hidden }}
                <span class="is_hidden_msg board_hidden">{{# str }} board_hidden, theme_cbe {{/ str }}</span>
            {{/ board_is_hidden }}
            {{# board_is_anchor }}
                <span class="is_hidden_msg board_anchor">{{# str }} board_anchor, theme_cbe {{/ str }}</span>
            {{/ board_is_anchor }}
        {{/ is_teacher }}
    </div>
    <div class="mod {{# is_resource }}resource_mod{{/ is_resource }}" data-toggle="tooltip" data-placement="top" title="{{ modfullname }}">
        <a class="icon" href="{{ view_href }}" {{# view_blank }}target="_blank"{{/ view_blank }}>
            {{{ html_icon }}}
        </a>
    </div>
    <div class="text">
        <div class="name">
            <a href="{{ view_href }}" {{# view_blank }}target="_blank"{{/ view_blank }}>
            {{ name }}
            </a>
        </div>
        <div class="added"><span class="section">{{ sectionname }}</span><span class="separ">-</span><span class="date">{{ added }}</span></div>
    </div>
    <div class="action-mod" data-region="actions-buttons" data-cmid="{{ id }}">
        {{# is_teacher }}
            {{# board_is_hidden }}
            <button data-action="visible" class="show-module action" data-toggle="tooltip" data-placement="bottom" title="{{# str }} showin_board, theme_cbe {{/ str }}">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            {{/ board_is_hidden }}
            {{^ board_is_hidden }}
            <button data-action="hidden" class="hide-module action" data-toggle="tooltip" data-placement="bottom" title="{{# str }} hiddein_board, theme_cbe {{/ str }}">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </button>
            {{/ board_is_hidden }}
            {{# board_is_anchor }}
            <button data-action="remove-anchor" class="anchor-module action is_anchor" data-toggle="tooltip" data-placement="bottom" title="{{# str }} unanchorin_board, theme_cbe {{/ str }}">
                <i class="fa fa-anchor" aria-hidden="true"></i>
            </button>
            {{/ board_is_anchor }}
            {{^ board_is_anchor }}
            <button data-action="anchor" class="anchor-module action" data-toggle="tooltip" data-placement="bottom" title="{{# str }} anchorin_board, theme_cbe {{/ str }}">
                <i class="fa fa-anchor" aria-hidden="true"></i>
            </button>
            {{/ board_is_anchor }}
            <button data-toggle="modal" data-target=".deletemod-modal-lg-{{ id }}" class="delete-module action">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <a href="{{ edit_href }}" class="edit-module action" data-toggle="tooltip" data-placement="bottom" title="{{# str }} edititem_board, theme_cbe {{/ str }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        {{/ is_teacher }}
        {{^ is_teacher }}
            {{# board_is_anchor }}
                <span class="anchor-module action is_anchor student"  data-toggle="tooltip" data-placement="bottom" title="{{# str }} board_anchor, theme_cbe {{/ str }}">
                    <i class="fa fa-anchor" aria-hidden="true"></i>
                </span>
            {{/ board_is_anchor }}
            <a href="{{ view_href }}" class="view-module action"><i class="fa fa-eye" aria-hidden="true"></i></a>
        {{/ is_teacher }}
    </div>
</div>
<div class="module_media" data-region="media">
    {{# is_media }}
        {{> theme_cbe/components/module_media_component }}
    {{/ is_media }}
    {{# is_description }}
        {{> theme_cbe/components/module_description_component }}
    {{/ is_description }}
</div>
{{# is_teacher }}
    {{> theme_cbe/modals/board_mod_delete }}
{{/ is_teacher }}
{{#js}}
    {{# is_teacher }}
        require(['theme_cbe/module_delete'], function(moduledelete) {
            moduledelete.initModuleDelete('[data-region="modal-mod-delete"][data-cmid="{{ id }}"]', {{ id }});
        });
        require(['theme_cbe/board'], function(board) {
            board.initBoard('[data-region="actions-buttons"][data-cmid="{{ id }}"]', {{ id }});
        });
    {{/ is_teacher }}
{{/js}}