<div class="item-mod">
    <div class="mod" data-toggle="tooltip" data-placement="top" title="{{ modfullname }}">
        <a class="icon" href="{{ view_href }}" {{# view_blank }}target="_blank"{{/ view_blank }}></a>
    </div>
    <div class="text">
        <div class="name">
            <a href="{{ view_href }}" {{# view_blank }}target="_blank"{{/ view_blank }}>
            {{ name }}
            </a>
        </div>
        <div class="added">{{ sectionname }} - <span>{{ added }}</span></div>
    </div>
    <div class="action-mod">
        {{# is_teacher }}
            <button data-toggle="modal" data-target=".deletemod-modal-lg-{{ id }}" class="delete-module action">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <a href="{{ edit_href }}" class="edit-module action"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        {{/ is_teacher }}
        {{^ is_teacher }}
            <a href="{{ view_href }}" class="view-module action"><i class="fa fa-eye" aria-hidden="true"></i></a>
        {{/ is_teacher }}
    </div>
</div>
<div class="module_media" data-region="media">
    {{# is_media }}
        <div class="media-block">
            <div class="expand">
                <button class="expand-media action-media" data-cmid="{{ id }}" data-action="expand">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <button class="contract-media action-media" data-cmid="{{ id }}" data-action="contract">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </button>
            </div>
            <div class="media-content" data-media="{{ id }}">
                <h3>{{{ media }}}</h3>
            </div>
        </div>
    {{/ is_media }}
</div>
{{# is_teacher }}
        <div data-region="modal-mod-delete" data-cmid="{{ id }}" class="modal fade deletemodule-modal deletemod-modal-lg-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="deletemod-modal-lg-{{ id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg cbe-modal">
                <div class="modal-content">
                    <header>
                        <h1>{{# str }} delete_mod, theme_cbe, {{ modfullname }} {{/ str }}</h1>
                        <p>{{# str }} sure_delete_mod, theme_cbe {{/ str }}</p>
                        <p>{{# str }} sure_delete_mod_detail, theme_cbe {{/ str }}</p>
                        <h3 class="modal-name"><strong>{{{ name }}}</strong></h3>
                        <p class="modal-theme">{{ theme }}</p>
                    </header>
                    <footer class="modal-footer">
                        <button class="btn cancel" data-dismiss="modal">{{# str }} cancel, theme_cbe {{/ str }}</button>
                        <button class="btn btn-primary delete" data-action="delete" >
                            {{# str }} confirm, theme_cbe {{/ str }}
                        </button>
                    </footer>
                </div>
            </div>
        </div>
{{/ is_teacher }}