$primary-color: $primary;
$primary-color-light: lighten( $primary, 15% );
$primary-color-light2: lighten( $primary, 9% );
$primary-color-hover: darken( $primary, 15% );
$primary-color-hard: darken( $primary, 15% );
$backboard-color: $backboard;
$secondary-color: $secondarycolor;
$black-ligth: #262626;
$grey-medium: #929292;
$grey-border: #D9D9D9;
$grey-medium2: #C2C2C2;
$grey-light: #F0F0F0;
$shadow-color: rgba(0, 0, 0, 0.2);;

$nav-height: 50px;
$footer-height: 64px;

$border-input: 10px;
$grey-hight: #717171;

$font: Montserrat, sans-serif;
$fontbold: Montserrat Bold, sans-serif;
$fontthin: Montserrat Thin, sans-serif;

$font-footer: PFHandbookPro Thin, sans-serif;

//$font: PFHandbookPro, sans-serif;
//$fontbold: PFHandbookPro Bold, sans-serif;
//$fontthin: PFHandbookPro Thin, sans-serif;
